@import "../../styles/variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  padding: 10px;
  background: $base-white;
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  height: 50px;
  padding-bottom: 10px;
  transition: $transition;
}

.topBar_move {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95vw;
  height: 50px;
  transition: $transition;
  position: fixed;
  top: 0px;
  background: $base-white;
}

.header {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_icon {
    height: 45px;
  }

  &_icon:hover {
    cursor: pointer;
  }

  &_text {
    font-size: 1.1rem;
    padding-left: 10px;
    color: $content-color;
    font-weight: 700;
  }
}

.plus {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_icon {
    height: 45px;
  }

  &_icon:hover {
    cursor: pointer;
  }
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d0d0d0;
  border-radius: 6px;
  width: 85vw;
  height: 35px;
  transition: $transition;

  &_icon {
    padding: 5px;
  }

  &_bar {
    width: 100%;
    border: none;
    background: #d0d0d0;
    color: black;
    border-radius: inherit;
  }

  &_bar:active,
  &_bar:focus-within,
  &_bar:hover {
    outline: none !important;
  }

  &:hover {
    box-shadow: 0 0 10px $primary-color;
  }

  &_bar::placeholder {
    padding-left: 5px;
  }
}

.selectBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  padding-top: 15px;
  transition: $transition;

  &_bar {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: $bubble-color;
    padding: 10px;
    color: $content-color;
    height: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: $transition;
  }

  &_bar:hover {
    box-shadow: 0 0 10px $primary-color;
    cursor: pointer;
  }
}
